*{
    text-align: right;
    padding: 0;
    margin: 0;
   

}

body{
    background: #cbdfd7ec;
}

header{
    background:gold;
    color: white;
    height: 50px;
}

h1{
    text-align:center;
    color: white;
}

nav{
    background:rgb(5, 129, 201); 
    height: 30px;
}

section{
     height: 840px;
     }

     article{
         background-color: pink;
         height: 840px;
         width: 500px;
         float: right
     }

  .pink{
        background-color: pink;
        height: 840px;
        width: 30%;
        float: right
    }

     .bleu{
         background-color: rgb(10, 40, 172);
         height:840px
     }

     h3{
         text-align: center;
         color: white
 }


      footer{
        background:gold;
        height: 50px;
     }