body{
    color: rgb(172, 5, 5);
    background: rgb(165, 0, 0);
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    h1{
        background: rgb(10, 160, 55);
        color: black
    }