body{
    background: pink
}
section{
    width: 60%;
    margin: 0 auto;
}
.yellow{
    background: yellow;
}
.gray{
    background: gray;
}
td{
    width: 4em;/*1em =16px*/
    height: 4em;
}
.black{
    background: black;
}
.white{
    background: white
}
.blue{
    background: blue
}